extends layout
  
block content
  
  h1= title
  p Welcome to #{title}

  script(src='/javascripts/view_getkeyword.js')

  body
    div#date-pickers
      script(src='/javascripts/view_datepicker.js')
      p
      | 카테고리 :  
      select(id='category', name='category')
        option 정치
        option 사회
      p
      | 날짜선택 : 
      input#datepicker1(type='text')
      |         
      input(type='submit', value='조회')
       
      script. //submit 클릭시 이벤트
        $(function() {
          $( "input[type=submit]" )
            .button()
            .click(function( event ){
              console.log("button-clicked");
              var date = $('#datepicker1').val();
              var category = $('#category').val();
              if (date.length != 0){
                alert(date + " and " + category );
                //do query
              }
              else {
                alert("날짜를 선택해주세요!");
              }
            });
        });
    
    //The div of wordcloud    
    div#wordcloud(style='width: 1050px; height: 350px;')
    
    .footer
        

  
  
