extends layout

block content
  h1= title
  p Welcome to #{title}

  script.
    $( document ).ready(function() {
      console.log("document ready!")
    });
    
  body
    div#date-pickers
      script.
        $(function() {
          $( "#datepicker1" ).datepicker({
            onSelect: function(date) {
              console.log("datepicker1 : " + date);
            },
            dateFormat: 'yy-mm-dd'
          });
        });
      script.
        $(function() {
          $( "#datepicker2" ).datepicker({
            onSelect: function(date) {
              console.log("datepicker2 : " + date);
            },
            dateFormat: 'yy-mm-dd'
          });
        });
      p
        | 조회기간: 
        input#datepicker1(type='text')
        |  ~ 
        input#datepicker2(type='text')
        
    div#my-div
      p
    .footer
      
    script.
      var words = [
        { text: "Google", link: "http://www.google.com", weight: 10 },
        { text: "Yahoo!", link: "http://www.yahoo.com", weight: 9 },
        { text: "Bing", link: "http://www.bing.com", weight: 9 },
        { text: "Larger 1", weight: 8 },
        { text: "Larger 2", weight: 8 },
        { text: "Larger 3", weight: 7 },
        { text: "Larger 4", weight: 7 },
        { text: "Medium 1", weight: 6 },
        { text: "Medium 2", weight: 5 },
        { text: "Medium 3", weight: 4 },
        { text: "Medium 4", weight: 4 },
        { text: "Smaller 1", weight: 3 },
        { text: "Smaller 2", weight: 3 },
        { text: "Small 1", weight: 2 },
        { text: "Small 2", weight: 1 },
        { text: "Small 3", weight: 1 }
      ];
      $('#my-div').jQCloud(words, {
        width: 500,
        height: 350
      });
        

  
  
