extends layout

block content
  h1= title
  p Welcome to #{title}
  
  script.
    $( document ).ready(function() {
      console.log("document ready!")
    });
    
  body
    h1 정영진, 이선로, 최기훈, 최은호
    div#my-div
      //p
    .footer
    script.
      var words2 = [
        {text: "Lorem", weight: 13},
        {text: "Ipsum", weight: 10.5},
        {text: "Dolor", weight: 9.4},
        {text: "Sit", weight: 8},
        {text: "Amet", weight: 6.2},
        {text: "Consectetur", weight: 5},
        {text: "Adipiscing", weight: 5},
        /* ... */
      ];
      var words = [
        { text: "Google", link: "http://www.google.com", weight: 10 },
        { text: "Yahoo!", link: "http://www.yahoo.com", weight: 9 },
        { text: "Bing", link: "http://www.bing.com", weight: 9 },
        { text: "Larger 1", weight: 8 },
        { text: "Larger 2", weight: 8 },
        { text: "Larger 3", weight: 7 },
        { text: "Larger 4", weight: 7 },
        { text: "Medium 1", weight: 6 },
        { text: "Medium 2", weight: 5 },
        { text: "Medium 3", weight: 4 },
        { text: "Medium 4", weight: 4 },
        { text: "Smaller 1", weight: 3 },
        { text: "Smaller 2", weight: 3 },
        { text: "Small 1", weight: 2 },
        { text: "Small 2", weight: 1 },
        { text: "Small 3", weight: 1 }
      ];
      console.log("do jQcloud")
      $('#my-div').jQCloud(words, {
        width: 500,
        height: 350
      });
        

  
  
