doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jqcloud/jqcloud.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/css/animsition.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/css/animsition.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css')
    script(src='/javascripts/awesomeCloud.js')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(type='text/javascript' src='/javascripts/jqcloud/jqcloud-1.0.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/js/animsition.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/js/animsition.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js')
    
    
  body
    //h1 이선로, 정영진, 최기훈, 최은호
    block content
