doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jqcloud/jqcloud.css')
    script(type='text/javascript' src='/javascripts/jquery-1.11.3.js')
    script(type='text/javascript' src='/javascripts/jqcloud/jqcloud-1.0.4.js')
  body
    block content
