doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jqcloud/jqcloud.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    //script(type='text/javascript' src='/javascripts/jquery-1.11.3.js')
    //script(type='text/javascript' src='/javascripts/jquery-1.11.3.min.js')
    script(type='text/javascript' src='/javascripts/jqcloud/jqcloud-1.0.4.js')
    
    



     
  body
    h1 이선로, 정영진, 최기훈, 최은호
    block content
